section.relacionados
    .container-fluid
        .row
            .col-12
                h2 Artículos relacionados
        .row
            .col-12.col-sm-6
                article.featured.color1.feature
                    a(href="post.html")
                        .image
                            img(src="assets/images/destacado.jpg", alt="imagen destacado")
                    .meta
                        .autor
                            span 
                            
                                a(href="autor.html") Alfonso Redondo
                        .data
                            span 12.05.2020
                    a(href="post.html") 
                        h2 Quid ex eo delectu rerum, quem ad respondendum reddidisti quorum molestias excepturi
                    a(href="post.html") 
                        p Torquatos nostros? quos dolores eos, qui ratione intellegi posse et quas molestias excepturi sint, obcaecati cupiditate non ero tibique, si ob rem aperiam eaque ipsa, quae sine metu degendae praesidia firmissima filium morte multavit si sine causa, nollem me tamen laudandis maioribus meis corrupisti nec.
            .col-12.col-sm-6
                article.featured.color1.feature
                    a(href="post.html")
                        .image
                            img(src="assets/images/destacado.jpg", alt="imagen destacado")
                    .meta
                        .autor
                            span 
                            
                                a(href="autor.html") Alfonso Redondo
                        .data
                            span 12.05.2020
                    a(href="post.html") 
                        h2 Quid ex eo delectu rerum, quem ad respondendum reddidisti quorum molestias excepturi
                    a(href="post.html") 
                        p Torquatos nostros? quos dolores eos, qui ratione intellegi posse et quas molestias excepturi sint, obcaecati cupiditate non ero tibique, si ob rem aperiam eaque ipsa, quae sine metu degendae praesidia firmissima filium morte multavit si sine causa, nollem me tamen laudandis maioribus meis corrupisti nec.