doctype
html(lang="es")
    head
        title titulo
        include partials/head
    body
        block header
        main(role="main")
            block content
        block footer
        include partials/scripts